@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

}

.enviar{
  margin-left: 5%;
  display: block;
  background-color: #3387e7;
  padding: 5px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0 , 1, .9);
  color: white;
  margin-top: 15px;
  width: 100px;
  margin-bottom: 15px;

}

.imagenNav {
  display:none;

}
#openRDO{ 
  width: 250px;
  margin-left: 2%;
  transition: 1s;
animation: animaBotao 1s ease-in-out infinite;
}


@keyframes animaBotao {
  from {
    outline: 0px solid #fa0000d8;
  }

  to {
    outline: 15px solid #f94f4f00;
  }
}
/*todo*/

body {
  background-color: whitesmoke;
  font-family:'Courier New', Courier, monospace ;
}
/* 
p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #080202;
} */

.novatarefa {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.header button {
  position: absolute;
  display: inline;
  right: 18%;
  margin-top: -30px;
} 

.header i {
  font-size: 22px;
  
} 

.to-do {
  display: none;
  margin-top: 40px;
  width: 60%;
}
.todo {
  display: block;
  margin-top: 40px;
  width: 60%;
}

.textInsert {
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 90%;
}

.divInsert {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  margin-right: 10px;
  box-shadow: 6px 5px 10px 0px grey;
}

button {
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.bx-plus {
  font-size: 30px;
  margin-left: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.divLi {
  margin-top: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}



.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 22px;
  color: brown;
}

li {
  list-style-type: none;
  padding: 10px;
  margin-right: 10px;
}

.line-through {
  text-decoration: line-through;
}

.cabecalho {
  /* align-items: center; */
  /* margin-top: 95vh; */
  width: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.cabecalho h2 {
  text-align: center;
}
.funcionarios input{
  display: flex;
  width: 150px;
  text-align: center;

}

.funcionarios p {
  display: flex;
}
.funcionarios{
  margin-left: 5%;
  gap: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-bottom: 15px;

}
.assinaturas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  
}

  .assinaturas input {
    text-align: center;
  }

  .botao{
  display: flex;
  justify-content: center;
    gap: 10px;
    align-items: center;
  
  }
  .botao button{
    background-color: #3387e7;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0 , 1, .9);
    color: white;
    margin-top: 15px;
    width: 100px;
    margin-bottom:50px ;
}
label{
  font-weight: bold;
}

.botao button:hover{
  background-color: #8b979b;
}
 form {
  background-image: linear-gradient( rgba(0, 217, 255, 0.8), rgba(29, 5, 134, 0.8));
  /* border-radius: 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  box-shadow: 0 10px 15px #030202ef;
}


.rdo form{
  display: flex;
  height: 100%;
  position: absolute;
}
.rdo{
  width: 100%;
}
.containerForm input{

  border: none;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 
}
.containerForm img {
  margin-top:-30px;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 15px;
}
.btnForm {
  background-color:#2ca2f1;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* .containerFile{
     
     box-shadow: 0 5px 10px rgba(0, 0 , 1, .9);
 } */

 .containerFile h2{
  font-size: 1em;
  text-align: center;
 }

.containerFile input[type="file"] {
  display: block;
  border-bottom: #2ca2f1 solid 2px;
  margin-left: 5%;

  
}
.containerFile progress {
  /* display: flex;
  
  flex-direction: column; */
  margin-left: 5%;
  
}

.files #percent{
  margin-top: 10px;
  padding: 8px;
  font-size: 2rem;
  color: #fff;
  margin-left: 10%;
}

section {
  padding: 54px 0;
}

h3 {
  font-size: 30px;
  color: #8d6fbd;
  margin-top: 15px;
  border-bottom: 1px dotted #4d4949;
}







header {
  width: 100%;
 
}

nav {
    margin-top: auto;
    position: absolute;
    height: 100%;

}

nav ul {
  height: 100%;
  display: flex;
  /* align-items: center; */
  background-color: #1414a8ce;
  flex-direction: column;

}
.close-btn{
  display: none;
}

.open-btn{
  display: none;
}
nav ul a {
  color: #ffffff;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;

}

nav ul a:hover {
  background-color: #176dd6;
}

.banner {
  display: flex;
  justify-content: center;
 padding: 25px;
}


.banner .banner-text h1 {
  font-size: 40px;
  color: white;
  /* text-shadow: 0 0 8px white; */
  border-bottom: 2px dotted white;
}




h1 {
  text-align: center;
  margin: 1em 0;
  font-family: sans-serif;

}



/*GALLERY*/



.btnServico {
  margin-left: 43.2%;
  margin-top: 25px;
}
.btnServico:hover{
  background-color: #1e3755f1;
}




.galeriaEmpresa {
  background-color: white;
}

.BannerFoto h1 {
  color: #ffffff;
  margin-top: 15%;
  font-size: 5em;
  text-shadow: 0 0 10px black;

}

.galeria-container {

  display: flex;
  margin-top: 70px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.galeria-container a {
  transition: 1.5s;
  overflow: hidden;
  margin-bottom: 25px;
}

.galeria-items {
  width: 250px;
  height: 250px;
  flex-grow: 1;
}

.a:hover {
  transform: scale(1.1);
}

.galeria-items img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* galeria Clientes */










main{
  overflow: hidden;
}
.ObAndamento {
  /* overflow-y: hidden; */
margin-left: auto;
  margin-right: 15px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( rgba(0, 217, 255, 0.8), rgba(29, 5, 134, 0.8));
}
.ObAndamento h1{
  height: 70px;
}
.ObAndamento iframe {
  width: 100%;
  height: 60%;
}
/*rdo*/
main .formulario{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.rdo { 
border: none;
display: none;
margin: auto;

}
 .rdo iframe {
  width: 550px;
  height: 620px;
 }
.obras {
border: none;
display: none;
margin: auto;
width: 100%;
}
 .obras iframe {
  margin-top: 10px;
  width: 550px;
  height: 620px;
 }
